.pebble_list {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.category_item {
  margin: 1rem;
  border: 1px solid black;
  height: 100px;
  width: 120px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  border-radius: 5px;
}

.add_category {
  height: 80px;
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
}

.add_category:hover {
  text-decoration: none;
  color: inherit;
}

.add_category:visited {
  text-decoration: none;
  color: inherit;
}
